<form>
    <div class="form-group">
    <label for="exampleSelect1"><h2>What would you like to do?</h2></label>
 <select multiple class="form-control" id="preference">
      <option>Sports</option>
      <option>Restaurants</option>
      <option>Bar</option>
      <option>Theatre</option>
      <option>Cafe</option>
    </select>
  </div>
  <button class="btn btn-success">Dash</button>
</form>