<div class="col-lg-12">
<%=image_tag("logo.png")%>
</div>
<br>
<div class="col-lg-6">
<button tpye="button" class="btn btn-primary">Login</button>
</div>
<div class="col-lg-6">
<button type="button" class="btn btn-secondary">Register</button>
</div>
<p>
    Description here.
</p>
